dist
node_modules
worker
package-lock.json
yarn.lock
.cargo-ok

# Output of 'npm pack'
*.tgz
.env
.dev.vars
prisma/migrations/20240209175929_02092024_1/migration.sql
prisma/migrations/migration_lock.toml
